


body {
    font-family: 'Times New Roman', Times, serif;
  }
  
  .titlecss{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  li {
    list-style: square;
  }
  
.list{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#date {
    font-size: 23px;
    font-family: cursive;
  }

  /*
  #time{
      font-family: cursive;
  } */

  .timeanddate{

    font-size: 23px;
    font-family: cursive;

  }